* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: linear-gradient(#9A4908,#E9B966);
    display: grid;
    min-height: 100vh;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
}
footer {
    display: flex;
    align-items: center;
    border-top: solid 1px black;
}

.facebook{
    padding-left: 15px;
    padding-right: 15px;}

.twiter{
    padding-left: 15px;
    padding-right: 15px;}

.sobre{
    padding-left: 15px;
    padding-right: 15px;}

.boxe{
    transition: all 0.3s;
}

.boxe:hover{
    scale: 1.2;
}

.fut{
    transition: all 0.3s;
}

.fut:hover{
    scale: 1.2;
}

.baska{
    transition: all 0.3s;
}

.baska:hover{
    scale: 1.2;
}




@media (max-width:400px) {
    main.comentario {
        display: grid;
        grid-template-columns: auto;
    }

    body {
        grid-template-columns: 594px auto;
    }


    
    main.index section {
        flex-direction: column;
    }

    main.index section img {
        width: 100%;
    }
}