@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: linear-gradient(#9A4908,#E9B966);
    display: grid;
    grid-template-columns: 594px auto;
    min-height: 100vh;
}

header img{
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 10px;
}

main img {
    margin: 150px;
}


a {
    font-size: 30px;
    font-family: 'KoHo';
    margin: 200px;
    color: white;
    text-decoration: none;
    text-align: center ;
    border: 10px;
    background: linear-gradient(to right,#8D4A12,#FDCD36);
    height: 80px;
    width: 350px;
    border-radius: 20%;
    justify-items: center;
    border: 3px solid black;
    padding-top: 15px;
}

a:hover {
    scale: 1.2;
    transition: 0.3s;
}

@media (max-width:400px) {
    main.comentario {
        display: grid;
        grid-template-columns: auto;
    }

    main.index section {
        flex-direction: column;
    }

    main.index section img {
        width: 100%;
    }
}